@import "nyllStyle.scss";

footer {
    background-color: #2C2C2C;
    font-family: 'Afacad';

    .container {
        max-width: 1250px;
        padding: 15px;
        nav {
            width: 100%;

            .title {
                color: #ffff;
                font-weight: 400;
                font-size: 24px;
            }

            .navigation, .subtitle {
                a {
                    color: #c2c2c2;
                    font-size: 18px;
                    font-weight: 300;
                    transition: var(--transition);
                }
            }

            .support {
                margin-right: 24px;
            }

            .social {
                flex-wrap: wrap;
            }

            .media {
                flex-wrap: wrap;
                gap: 0 10px;
            }

            a:hover {
                color: #ffff;
                
            }
        }
    }
}
