:root { --color-red: #DC5356; --color-blue: #536ADC; --color-blue-two: #3B4980; --color-black: #000000; --color-black_size: #202020; --color-grey: #707070; --color-grey-hover: #F5F5F5; --box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.25); --border-solid: solid 2px rgba(0, 0, 0, 0.4); --transition: all 0.3s ease 0s; }

ul, p, h1, h2, h3, figure, figcaption { margin: 0; padding: 0; }

li { list-style: none; }

a { text-decoration: none !important; }

.clear { clear: both; }

* { block-size: border-box; margin: 0; padding: 0; }

body { background-color: #f8f8f8; }

html, body { height: 100%; }

.wrapper { min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; font-family: 'Afacad'; }

button, input, a { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

main { font-family: 'Afacad'; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

main { padding: 150px 0 150px 0; }

main .scan button { background-color: var(--color-black_size); width: 360px; height: 55px; border-radius: 25px; border: none; font-size: 1.6rem; color: var(--color-grey-hover); -webkit-transition: var(--transition); -o-transition: var(--transition); transition: var(--transition); }

main .scan button:hover { font-size: 2rem; font-weight: 800; }

main .qr { margin-top: 50px; display: block; text-align: center; }
