:root {
  --color-red: #DC5356;
  --color-blue: #536ADC;
  --color-blue-two: #3B4980;
  --color-black: #000000;
  --color-black_size: #202020;
  --color-grey: #707070;
  --color-grey-hover: #F5F5F5;
  --box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.25);
  --border-solid: solid 2px rgba(0, 0, 0, 0.4);
  --transition: all 0.3s ease 0s; }

ul, p, h1, h2, h3, figure, figcaption {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none !important; }

.clear {
  clear: both; }

* {
  block-size: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #f8f8f8; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  font-family: 'Afacad';
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

section .container {
  max-width: 1250px;
  justify-items: center;
  padding: 15px;
  font-style: italic; }
  section .container .block {
    border-radius: 10px;
    background: var(--color-grey-hover);
    padding: 10px;
    width: 394px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    section .container .block h4 {
      font-weight: 400; }
    section .container .block .password {
      margin-top: 10px; }
    section .container .block input {
      width: 100%;
      font-style: italic;
      border: 1px solid #00000027;
      border-radius: 7px;
      height: 40px; }
    section .container .block .btn {
      margin-top: 15px;
      padding: 0; }
    section .container .block .forgot {
      margin-top: 10px; }
    section .container .block button {
      width: 156px;
      height: 40px;
      border: none;
      background: var(--color-black);
      border-radius: 10px;
      color: var(--color-grey-hover);
      font-style: italic;
      font-size: 1.25rem; }
