:root {
  --color-red: #DC5356;
  --color-blue: #536ADC;
  --color-blue-two: #3B4980;
  --color-black: #000000;
  --color-black_size: #202020;
  --color-grey: #707070;
  --color-grey-hover: #F5F5F5;
  --box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.25);
  --border-solid: solid 2px rgba(0, 0, 0, 0.4);
  --transition: all 0.3s ease 0s; }

ul, p, h1, h2, h3, figure, figcaption {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none !important; }

.clear {
  clear: both; }

* {
  block-size: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #f8f8f8; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  font-family: 'Afacad'; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  main svg {
    color: #000000; }
  main svg:hover {
    color: red; }
  main .navigation .container {
    padding: 15px; }
  main .navigation nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  main .navigation button:hover, main .navigation .active {
    background-color: #2C2C2C;
    color: #F5F5F5; }
    main .navigation button:hover:hover, main .navigation .active:hover {
      background-color: var(--color-grey-hover);
      color: #000000; }
  main .navigation button {
    margin: 5px 0 5px 0;
    width: 11.3rem;
    height: 4.1rem;
    border-radius: 13px;
    font-weight: 600;
    font-size: 1.5rem;
    border: 1px solid #898989;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background: var(--color-grey-hover); }
    main .navigation button:hover {
      background-color: #2C2C2C;
      color: var(--color-grey-hover);
      font-size: 1.6rem; }
  main .items {
    padding-bottom: 10px; }
    main .items .container {
      max-width: 1250px;
      padding: 0 15px 0 15px; }
      main .items .container .up a {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      main .items .container .item {
        max-width: 1220px;
        width: 100%;
        overflow-x: scroll;
        -webkit-scroll-snap-type: x mandatory;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 15px;
        scrollbar-width: none; }
        main .items .container .item .product {
          scroll-snap-align: center; }
          main .items .container .item .product .header_fig a:hover {
            color: var(--color-blue); }
          main .items .container .item .product .header_fig a:active {
            color: var(--color-red); }
          main .items .container .item .product .header_fig a:focus {
            color: var(--color-red);
            outline: none; }
          main .items .container .item .product .add-to-cart-btn {
            width: 170px;
            padding: 5px;
            font-weight: 500;
            font-size: 1.2rem;
            border-radius: 10px;
            -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
            -webkit-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition); }
            main .items .container .item .product .add-to-cart-btn:hover {
              background: var(--color-black_size);
              color: var(--color-grey-hover); }
      main .items .container .line {
        margin-top: 20px; }
      main .items .container .title {
        color: var(--color-black);
        font-size: 1.87rem;
        font-weight: 600; }
      main .items .container .product {
        width: 290px;
        border: 2px solid var(--color-grey);
        border-radius: 15px;
        margin-top: 15px;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition); }
        main .items .container .product:hover {
          background-color: #d8d8d868; }
        main .items .container .product figure {
          padding-bottom: 10px;
          border-bottom: 2px solid #898989; }
        main .items .container .product figcaption {
          padding: 22px; }
          main .items .container .product figcaption .name_size a {
            color: #202020;
            font-size: 0.93rem; }
          main .items .container .product figcaption .name {
            font-size: 1.56rem;
            color: #202020;
            font-weight: 800; }
          main .items .container .product figcaption .prise {
            color: var(--color-blue-two);
            font-size: 2.25rem;
            font-weight: 800; }
          main .items .container .product figcaption .icon_shop {
            margin-top: 10px; }

.backet_section {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffff;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  min-width: 300px;
  max-height: 600px;
  border-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 50px 500px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px 500px rgba(0, 0, 0, 0.7); }
  .backet_section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .backet_section .container .header_basket {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px dashed var(--color-grey); }
      .backet_section .container .header_basket h2 {
        font-size: 2rem; }
      .backet_section .container .header_basket button {
        width: 33px;
        height: 33px;
        border-radius: 10px;
        background: var(--color-red); }
  .backet_section .cart {
    margin-top: 10px; }
  .backet_section .phone {
    margin-top: 10px;
    font-family: 'Afacad';
    font-weight: 600;
    font-size: 1.3rem; }
  .backet_section .comment {
    font-family: 'Afacad';
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: -10px; }
  .backet_section form {
    border-top: dashed 1px var(--color-grey);
    margin-top: 10px; }
  .backet_section .phone_input {
    padding: 5px;
    width: 100%; }
  .backet_section textarea {
    width: 100%;
    padding: 5px;
    overflow: auto;
    height: 135px;
    resize: none; }
  .backet_section .submit {
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    background: #ffff;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow); }
    .backet_section .submit:hover {
      background: var(--color-black_size);
      color: var(--color-grey-hover); }
