@media (max-width: 900px) {

    footer .container {
        padding: 2px;
    }

    header .container {
        padding: 1px;
    }

    main .item {
        justify-content: space-around !important;
    }

    main .title {
        text-align: center;
    }
}

@media (max-width: 767px) {

    main .navigation nav{
        justify-content: center !important;
    }

    main .navigation nav button {
        width: 19rem;
    }
}
